@model IEnumerable<WebAdinux.Core.ViewMoels.GetEmailMessageViewModel>

@{
    ViewData["Title"] = "Archived Mails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h1 style="margin-top:130px;">Archived Mails</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
                    <a href="#" onclick="Details(@item.Id)">Content</a> |
                    @Html.ActionLink("UnArchive", "UnArchive", new { id=item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
@section mySection
    {
    <script>
        function Details(id) {
            $.ajax({
                url: "/Admin/RecivedMailDetails/" + id,
                type: "Get",
                data: {}
            }).done(function (result) {
                $('#myModal').modal('show');
                $('#bodyModal').html(result);
            });
        }
    </script>
}