@model IEnumerable<WebAdinux.Core.ViewMoels.GetSiteContentViewModel>

@{
    ViewData["Title"] = "GetHeaderContent";
    Layout = "~/Views/Shared/_AdminLayout2.cshtml";
}

<div class="col-lg-offset-3 col-lg-8 col-md-offset-3 col-md-8 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 panel-back">

    <div class="margin-top-50">

        <h3 class="pull-right">
            <input type="text" id="myInput" onkeyup="myfunction()" placeholder="Search" />
        </h3>
        <h3 class="pull-left">
            <a href="#" onclick="Create(@ViewBag.HeaderId)" class="btn btn-primary">Add</a>
        </h3>

    </div>

    <div class="margin-top-30">

        <table class="table table-bordered table-hover" id="myTable">

            <thead>

                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Number)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ContentType)
                    </th>
                    <th></th>

                </tr>

            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Number)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContentType)
                        </td>
                        <td>
                            <a href="#" onclick="Edit(@item.Id)"> Edit</a> |
                            <a href="#" onclick="Details(@item.Id)"> Details</a> |
                            <a href="/Admin/DeleteContent/@item.Id" class="btn-xs btn-danger">Delete</a>
                        </td>
                    </tr>
                }


            </tbody>

        </table>

    </div>

</div>



@section mySection
    {

    <script>
        function Create(id) {
            $.ajax({
                url: "/Admin/CreateContent/" + id,
                type: "Get",
                data: {}
            }).done(function (result) {
                $('#myModal').modal('show');
                $('#bodyModal').html(result);
            });
        }
    </script>
    <script>
        function myfunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");

            for (var i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];

                if (td) {
                    txtValue = td.textContent || td.innerText;

                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
    <script>
        function Edit(id) {
            $.ajax({
                url: "/Admin/EditContent/" + id,
                type: "Get",
                data: {}
            }).done(function (result) {
                $('#myModal').modal('show');
                $('#bodyModal').html(result);
            });
        }
    </script>
    <script>
        function Details(id) {
            $.ajax({
                url: "/Admin/ContentDetails/" + id,
                type: "Get",
                data: {}
            }).done(function (result) {
                $('#myModal').modal('show');
                $('#bodyModal').html(result);
            });
        }
    </script>
    

}